.venv
.vscode
.pdm-python
__pycache__
.ruff_cache
.mypy_cache
**/ray/
.lock
*.egg-info
**/logs
*.db

requirements-dev.lock
requirements.lock


data/*.parq

notebooks/.ipynb_checkpoints/05_Autoencoder-model-checkpoint.ipynb
Untitled.ipynb
.ipynb_checkpoints/*-checkpoint.ipynb
data/heart_big_anom_test.parq
data/heart_big_anom_train.parq
data/heart_big_norm_test.parq
data/heart_big_norm_train.parq


data/raw/*
data/raw/*
data/processed/*
data/processed/*
